*{
box-sizing: border-box;
}

header {
background-color: #a40909;
height: 160px;
color: white;
display: flex;
align-items: center;
justify-content: center;


}

h1 {

/* text-align: center; */
font-size: 50px;
}

main {
width: 1024px;
margin: 60px auto;
border: solid black 2px;
display: flex;
flex-wrap: wrap;
}

.job{
height:328px;
width: calc(100% / 3 - 40px/3);
border-style: solid;
border-width: 2px;
padding:20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.job:not(:nth-child(3n))
{margin-right: 20px;}

h2{
font-size: 30px;

}

.red {
border-color: red;}


.yellow {
border-color: yellow;

}


.green{
border-color: blue;
}

.pink{
border-color: pink;}